streamlit==1.24.1
transformers==4.46.2
beautifulsoup4
langgraph
langsmith
langchain-groq
langchain_google_vertexai
Pillow
aiohttp
langchain_google_community
--upgrade --quiet duckduckgo-search
ipykernel
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
