streamlit==1.24.1
transformers==4.46.2
beautifulsoup4
langgraph
langsmith
langchain-groq
langchain_google_vertexai
Pillow
aiohttp
langchain_google_community
duckduckgo-search
ipykernel
torch
torchvision
torchaudio
